<template>
  <div class="life">
    <div class="center">
      <!-- Rows -->
      <span style="padding: 1ex">Rows:</span>
      <input v-bind:disabled="running" v-model.number="rows" />
      <!-- Cols -->
      <span style="padding: 1ex">Cols:</span>
      <input v-bind:disabled="running" v-model.number="cols" />
      <!-- Timeout -->
      <span style="padding: 1ex">Timeout:</span>
      <input v-bind:disabled="running" v-model.number="timeout" />
      <!-- Model -->
      <select v-model.number="model">
        <option v-for="(option,index) in models" :key="index" :value="option.value">
          {{ option.text }}
        </option>
      </select>
    </div>
    <div class="center">
      <!-- Clear -->
      <button v-bind:disabled="running" @click="clearButton()">Clear</button>
      <!-- Randomwd -->
      <button v-bind:disabled="running" @click="randomButton()">Random</button>
      <!-- Preset -->
      <select v-bind:disabled="running" v-model.number="presetSel" v-on:change="presetAction(presetSel)">
        <option disabled value="0">Preset</option>
        <option v-for="(option,index) in presets" :key="index" :value="option.value">
          {{ option.text }}
        </option>
      </select>
    </div>
    <div class="center">
      <!-- Backward -->
      <button v-bind:disabled="running" @click="backwardButton()">&#9664; Bwd</button>
      <!-- Minimize -->
      <button v-bind:disabled="running || !hasNextBoard()" @click="improveButton(true)">Minimize</button>
      <!-- Find -->
      <select v-bind:disabled="running || !hasNextBoard()" v-model.number="max">
        <option v-for="(option,index) in maxOptions()" :key="index" :value="option.value">
          {{ option.text }}
        </option>
      </select>
      <button v-bind:disabled="running || !hasNextBoard()" @click="improveButton(false)">Find</button>
      <!-- Forward -->
      <button v-bind:disabled="running" @click="forwardButton()">Fwd &#9654;</button>
    </div>
    <div class="center">
      <!-- History -->
      <select class="generation" v-bind:disabled="running" v-model.number="generation" v-on:change="selectGeneration(generation)">
        <option v-for="(option,index) in historyOptions()" :key="index" :value="option.value">
          {{ option.text }}
        </option>
      </select>
      <!-- Status -->
      <span class="status">{{ status }}</span>
    </div>
    <!-- Board -->
    <div class="board" tabindex="1" v-on:keydown.left="backwardButton()" v-on:keydown.right="forwardButton()">
      <table>
        <tr v-for="row,i of board" :key="i">
          <td v-for="cell,j of row" :key="j" :class="{ alive: cell === 1 }" @click="toggleCell(i, j)"></td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios"

export default {
  name: "Life",
  components: {},
  data () {
    let rows = 40
    let cols = 40
    let board = Array(rows).fill(0).map(r => Array(cols).fill(0))
    return {
      rows: rows,
      cols: cols,
      board: board,
      presetSel: 0,
      presets: [
        { value: 1, text: "F" },
        { value: 2, text: "PPL" },
        { value: 3, text: "SOFT" },
        { value: 4, text: "LIFE" },
        { value: 5, text: "SAT" },
        { value: 6, text: "CSP" },
        { value: 7, text: "2021" },
        { value: 8, text: "KOBE" },
        { value: 9, text: "Eden" }
      ],
      model: 1,
      models: [
        { value: 0, text: "Model 0" },
        { value: 1, text: "Model 1" },
        { value: 2, text: "Model 2" }
      ],
      timeout: 20,
      generation: 0,
      running: false,
      status: "",
      max: 0,
      history: {}
    }
  },
  watch: {
    rows() {
      this.init()
    },
    cols() {
      this.init()
    }
  },
  methods: {
    init() {
      this.board = Array(this.rows).fill(0).map(r => Array(this.cols).fill(0))
      this.max = 0
      this.running = false
      this.status = ""
      this.presetSel = 0
      this.generation = 0
      this.history = {}
    },
    liveCells(b) {
      if (b == null)
        b = this.board
      return b.map(r => r.reduce((a,b) => a+b)).reduce((a,b) => a+b)
    },
    maxOptions() {
      let m = this.liveCells() - 1
      let options = []
      for (let i = m; i > 0; i--)
        options.push({ text: "Cells \u2266 " + i, value: i })
      return options
    },
    updateHistory(dir) {
      let board = JSON.parse(JSON.stringify(this.board))
      if (dir < 0) {
        this.$set(this.history, this.generation, board)
      } else if (dir > 0) {
        this.$set(this.history, this.generation, board)
      } else {
        this.$set(this.history, this.generation, board)
      }
    },
    historyOptions() {
      let options = []
      let gs = Object.keys(this.history).sort((a, b) => a - b)
      // for (let g in this.history) {
      for (let g of gs) {
        let c = this.liveCells(this.history[g])
        options.push({ text: "Generation " + g + ", Cells " + c, value: g })
      }
      return options
    },
    hasNextBoard() {
      return this.generation + 1 in this.history
    },
    nextBoard() {
      return this.history[this.generation + 1]
    },
    selectGeneration(g) {
      this.generation = g
      this.board = this.history[g]
      this.max = this.liveCells()
      this.status = ""
    },
    clearButton() {
      if (this.running)
        return
      this.init()
      this.updateHistory(0)
    },
    randomButton() {
      if (this.running)
        return
      this.init()
      // board = board.map(r => r.map(c => Math.random() < 0.1 ? 1 : 0))
      for (let i = Math.floor(this.rows/3); i < 2*this.rows/3; i++) {
        for (let j = Math.floor(this.cols/3); j < 2*this.cols/3; j++) {
          this.board[i][j] = Math.random() < 0.2 ? 1 : 0
        }
      }
      this.updateHistory(0)
    },
    presetAction(p) {
      if (this.running)
        return
      this.init()
      let i0 = Math.floor((this.rows - 1)/2)
      let j0 = Math.floor((this.cols - 1)/2)
      let pattern = null
      if (p == 1) {
        pattern = ".##/" +
                  "##./" +
                  ".#."
      } if (p == 2) {
        pattern = "###.###.#../" +
                  "#.#.#.#.#../" +
                  "###.###.#../" +
                  "#...#...#../" +
                  "#...#...###"
      } else if (p == 3) {
        pattern = "###.###.###.###/" +
                  "#...#.#.#....#./" +
                  "###.#.#.###..#./" +
                  "..#.#.#.#....#./" +
                  "###.###.#....#."
      } else if (p == 4) {
        pattern = "#...#.###.###/" +
                  "#...#.#...#../" +
                  "#...#.###.###/" +
                  "#...#.#...#../" +
                  "###.#.#...###"
      } else if (p == 5) {
        pattern = "###.###.###/" +
                  "#...#.#..#./" +
                  "###.###..#./" +
                  "..#.#.#..#./" +
                  "###.#.#..#."
      } else if (p == 6) {
        pattern = "###.###.###/" +
                  "#...#...#.#/" +
                  "#...###.###/" +
                  "#.....#.#../" +
                  "###.###.#.."
      } else if (p == 7) {
        pattern = "###.###.###.#/" +
                  "..#.#.#...#.#/" +
                  "###.#.#.###.#/" +
                  "#...#.#.#...#/" +
                  "###.###.###.#"
      } else if (p == 8) {
        pattern = "#..#.###.###..###/" +
                  "#.#..#.#.#..#.#../" +
                  "##...#.#.###..###/" +
                  "#.#..#.#.#..#.#../" +
                  "#..#.###.###..###"
      } else if (p == 9) {
        pattern = ".#.###.#../" +
                  "..#.#.#..#/" +
                  "#.###..##./" +
                  ".#.#####.#/" +
                  "#..#..####/" +
                  "####..#..#/" +
                  "#.#####.#./" +
                  ".##..###.#/" +
                  "#..#.#.#../" +
                  "..#.###.#."
      }
      if (pattern) {
        i0 -= Math.floor(pattern.split("/").length / 2)
        j0 -= Math.floor(pattern.split("/")[0].split("").length / 2)
        let i = i0
        for (let r of pattern.split("/")) {
          let j = j0
          for (let c of r.split("")) {
            this.board[i][j] = (c == ".") ? 0 : 1
            j++
          }
          i++
        }
      }
      this.updateHistory(0)
    },
    toggleCell(i, j) {
      if (this.running)
        return
      let b = this.board
      this.init()
      this.board = b
      let cell = this.board[i][j]
      this.$set(this.board[i], j, 1 - cell)
      this.updateHistory(0)
    },
    elapsedTime(time0) {
      let t = Math.floor((Date.now() - time0) / 1000)
      return t + " s"
    },
    displayRunning(time0) {
      let vm = this
      let timer = setInterval(function () {
        if (vm.running) {
          vm.status = "Running: " + vm.elapsedTime(time0)
        } else {
          clearInterval(timer)
        }
      }, 100)
    },
    forwardButton() {
      if (this.running)
        return
      let qs = require("qs")
      this.running = true
      this.status = "Running"
      let time0 = Date.now()
      this.displayRunning(time0)
      this.max = 0
      let vm = this
      axios.post("/api", qs.stringify({
        c: "life-forward",
        m: this.rows,
        n: this.cols,
        b: this.board.map(r => r.join("")).join("/")
      }))
      .then(function (response) {
        console.log(response)
        vm.board = response.data.result.board
        vm.generation += 1
        vm.running = false
        vm.status = ""
        vm.updateHistory(1)
      })
      .catch(function (error) {
        console.log(error)
        vm.running = false
        vm.status = "JS ERROR"
      })
    },
    backwardButton() {
      if (this.running)
        return
      let qs = require("qs")
      this.running = true
      this.status = "Running"
      let time0 = Date.now()
      this.displayRunning(time0)
      let vm = this
      axios.post("/api", qs.stringify({
        c: "life-backward",
        m: this.rows,
        n: this.cols,
        t: this.timeout,
        model: this.model,
        b: this.board.map(r => r.join("")).join("/"),
        minimize: false                
      }))
      .then(function (response) {
        console.log(response)
        if (response.data.result.status == "SAT" || response.data.result.status == "OPT") {
          vm.board = response.data.result.board
          vm.max = vm.liveCells() - 1
          vm.generation -= 1
          vm.updateHistory(-1)
        }
        vm.running = false
        vm.status = response.data.result.status + ": " + vm.elapsedTime(time0)
      })
      .catch(function (error) {
        console.log(error)
        vm.running = false
        vm.status = "JS ERROR" + ": " + vm.elapsedTime(time0)
      })
    },
    improveButton(minimize) {
      if (this.running)
        return
      let qs = require("qs")
      this.running = true
      this.status = "Running"
      let time0 = Date.now()
      this.displayRunning(time0)
      let vm = this
      axios.post("/api", qs.stringify({
        c: "life-backward",
        m: this.rows,
        n: this.cols,
        t: this.timeout,
        model: this.model,
        b: this.nextBoard().map(r => r.join("")).join("/"),
        max: this.max,
        minimize: minimize
      }))
      .then(function (response) {
        console.log(response)
        if (response.data.result.status == "SAT" || response.data.result.status == "OPT") {
          vm.board = response.data.result.board
          vm.max = vm.liveCells() - 1
          vm.updateHistory(-1)
        }
        vm.running = false
        vm.status = response.data.result.status + ": " + vm.elapsedTime(time0)
      })
      .catch(function (error) {
        console.log(error)
        vm.running = false
        vm.status = "JS ERROR" + ": " + vm.elapsedTime(time0)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.center {
  text-align: center;
}
input {
  width: 5ex;
  text-align: center;
}
button {
  /* font-size: 24px; */
  margin: 0.5em;
  padding: 0.5em;
}
select {
  margin: 0.5em;
  padding: 0.5em;
}
select.generation {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid lightgray;
  border-radius: 0;
  background: white;
  font-size: large;
}
.status {
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  font-size: large;
}
.board {
  text-algin: center;
  margin-top: 2ex;
}
table {
  border-spacing: 0px;
  border-collapse: separate;
  margin: auto;
}
td {
  width: 8px;
  height: 8px;
  border: 1px solid #ccc;
  background: #fff;
}
td.alive {
  background: #000;
}
</style>
