<template>
  <div id="app">
    <h1>Reversing Conway's Game of Life</h1>
    <Life />
  </div>
</template>

<script>
import Life from './components/Life.vue'

export default {
  name: 'App',
  components: {
    Life
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  text-align: center;
}
</style>
